##  문자열 구간 지정

In [4]:
txt1 = 'A table that was not right'
txt2 = '이 또한 지나가리라'
print(txt1[3:7])
print(txt1[:6])
print(txt2[-4:])

able
A tabl
나가리라

## 홀수번째 문자만 출력

In [8]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2] # 건너 뛰기
print(ret)
txt2 = 'abcdefg'
ret2 = txt2[::2]
print(ret2)

abcdefghijk
aceg

## 문자열 꺼꾸로 만들기

In [11]:
txt = 'abcdefghijk'
ret = txt[::-1] # 거꾸로 print 하기
print(ret)

kjihgfedcba

## 문자열 대소문자 변환

In [12]:
txt = 'A lot of Things occur each day'
ret1 = txt.upper() # 전채를  대문자로 변환
ret2 = txt.lower() # 전채를 소문자로 변환
print(ret1)
print(ret2)

A LOT OF THINGS OCCUR EACH DAY
a lot of things occur each day

##  문자열 좌우 공백 제거

In [16]:
txt = '     양쪽에 공백이 있는 문자열 입니다.     '
print('<' + txt+'>')
print('<' + txt.lstrip()+'>')# 왼쪽 공백제거
print('<' + txt.rstrip()+'>')# 오른쪽 공백제거
print('<' + txt.strip()+'>')# 양쪽 공백제거

<     양쪽에 공백이 있는 문자열 입니다.     >
<양쪽에 공백이 있는 문자열 입니다.     >
<     양쪽에 공백이 있는 문자열 입니다.>
<양쪽에 공백이 있는 문자열 입니다.>

##  문자열 개수 구하기

In [18]:
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

### 2개 이상의 값 넣기

In [1]:
number = 10 # 숫자 값 "%d"
day = "three" # 문자값 "%s"
"I ate %d apples. so I was sick for %s days." % (number, day)
'I ate 10 apples. so I was sick for three days.'

'I ate 10 apples. so I was sick for three days.'

## 문자열 분리(split)

In [16]:
url = 'http://www.naver.com.news/today=20200331'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split()
print(ret2)

# ret2 name -> 홍길동

for data in ret2:
    d1, d2 = data.split(':') # useful in deep learning**
    print('%s -> %s' % (d1, d2))

['http:', '', 'www.naver.com.news', 'today=20200331']
['name:홍길동', 'age:17', 'sex:남자', 'nation:조선']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

##  문자열 결합(join)

In [29]:
loglist = ['2020/03/31 11:38:10', '200', 'OK', '이 또한 지나가리라']
bond = '||  '
print(bond.join(loglist))

2020/03/31 11:38:10||  200||  OK||  이 또한 지나가리라

##  문자열 바꾸기(replace)

In [30]:
txt = 'My password is 1234'
print(txt.replace('1', '0'))
print(txt.replace('1', 'python'))
print(txt.replace('1234', 'python'))

txt = '매일 많은 일들이 일어납니다.'
print(txt.replace('매일', '항상'))
print(txt.replace('일들', '사건'))

My password is 0234
My password is python234
My password is python
항상 많은 일들이 일어납니다.
매일 많은 사건이 일어납니다.

##  문자열 정렬

In [3]:
strdata = input('정렬할 문자열을 입력하세요:')
print(strdata)
print(sorted(strdata))
print(sorted(strdata, reverse=True))
ret1 = ''.join(sorted(strdata))
ret2 = ''.join(sorted(strdata, reverse=True))
print('오름차순으로 정렬된 문자열은 <'+ ret1+'> 압니다.')
print('내림차순으로 정렬된 문자열은 <'+ ret2+'> 압니다.')

정렬할 문자열을 입력하세요:asdasdasd
asdasdasd
['a', 'a', 'a', 'd', 'd', 'd', 's', 's', 's']
['s', 's', 's', 'd', 'd', 'd', 'a', 'a', 'a']
오름차순으로 정렬된 문자열은 <aaadddsss> 압니다.
내림차순으로 정렬된 문자열은 <sssdddaaa> 압니다.

##  문자 포맷팅

In [29]:
# %s = 문자열에 대응
# %c = 문자나 기호 한개에 대응됨
# %f = 실수에 대응
# %d = 정수에 대응
# %% = %라는 기호 자체를 의미

txt1 = '자바'; txt2 = '파이썬'
num1 = 5; num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))

# 파이썬은 자바보다 num1 + num2 배 더 쉽습니다
print('%s은 %s보다 %d 배 더 쉽습니다.' %(txt2, txt1, num1))

# 5 + 10 = 15
print('%d + %d = %d' %(num1, num2, num1+num2))

# 작년 세계 경제 성장룰은 전년에 비해 5% 포인트 증가했다.
print('작년 세계 경제 성장룰은 전년에 비해 %d%% 포인트 증가했다'%(num1))

나는 자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5 배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장룰은 전년에 비해 5% 포인트 증가했다

In [25]:
from time import sleep

for i in range(100):
    msg = '\r진행률 %d%%' %(100-i-1) # \r 줄의 맨처음
    print(' '*len(msg), end='') # msg 길이만큼 공백문자를 줄바꿈없이 화면에 출력 
    print(msg, end=' ')                           # len = length
    sleep(0.1)

진행률 0%

In [26]:
from time import sleep

for i in range(100):
    msg = '\r진행률 %d%%' %(100-i-1) # \r 줄의 맨처음
    print(' '*len(msg), end='') # msg 길이만큼 공백문자를 줄바꿈없이 화면에 출력 
    print(msg, end=' ')                           # len = length
    sleep(0.1)

진행률 0%

###  format 함수를 사용한 포매팅

In [8]:
# 숫자 바로 대입하기
j = "I eat {0} apples".format(3)
print(j)

I eat 3 apples

In [5]:
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [6]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [9]:
# 2개 이상의 값 넣기
number = 10
day = "three"
j = "I ate {0} apples. so I was sick for {1} days.".format(number, day)
print(j)

I ate 10 apples. so I was sick for three days.

In [10]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [11]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

###  f 문자열 포매팅

In [15]:
# 파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다.
# 다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.
name = '홍길동'
age = 30
j = f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(j)

k = f'나는 내년이면 {age+1}살이 된다.'
print(k)

d = {'name':'홍길동', 'age':30}
m = f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
print (m)

나의 이름은 홍길동입니다. 나이는 30입니다.
나는 내년이면 31살이 된다.
나의 이름은 홍길동입니다. 나이는 30입니다.

## 이스케이프 문자

In [9]:
# \n 줄바꾸기 - enter
# \t 탭
print('나는 파이썬을 사랑합니다. \n파이썬은 자바보다 쉽습니다.')
print('Name: John Smith\tSex: Male\tAge: 22')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. \
그래서 \\enter 키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('작은 따옴표(\')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 쉽습니다.
Name: John Smith	Sex: Male	Age: 22
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \enter 키를 이용해 문장을 다음줄과 연속되도록 했습니다.
작은 따옴표(')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.

## 리스트와 튜플

In [31]:
# [, , ] # 리스트
# (, , ) # 튜플
# 리스트
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
list1[0] = 6
print(list1)

def myfunc():
    print('안녕하세요')
list4 = [1,2,myfunc]
list4[2]()

[6, 2, 3, 4, 5]
안녕하세요

In [33]:
# 튜플 리스트 차이점 예문*
tuple1 = (1,2,3,4,5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5], ['a','b','c'])
tuple1[0] = 6
print(tuple1)

# 튜플은  - 중간에 수를 못바꾼다** therefore, tuple1[0] = 6 does not work

TypeError: 'tuple' object does not support item assignment

In [34]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5], ['a','b','c'])
print(tuple1)
def myfunc():
    print('안녕하세요')
tuple4 = [1,2,myfunc]
tuple4[2]()

(1, 2, 3, 4, 5)
안녕하세요

##  사전

In [41]:
# key value - eg. index
dict1 = {'a':1,'b':2,'c':3}
print(dict1['c'])
dict1['d'] = 4 # dict1 에 'd':4 까지 너어 준다
print(dict1)

dict1['b'] = 7
print(dict1)
print(len(dict1))

3
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

## 함수 (function)

In [46]:
def add_number(n1,n2): #add_number 라는 함수 이름. 숫자
    ret = n1 + n2
    return ret
def add_txt(t1, t2): # text
    print(t1 + t2)

print(add_number(1,3))
add_txt('대한민국 ~ ', '최고')

4
대한민국 ~ 최고

## 전역 변수와 지역변수 (global variable / local variable)

In [10]:
# param = 10 + 1  # Y = 10x + 1 when x = 1, y = 11. When x = 5 y = 51
param = 10
strdata = '전역변수 / global variable'

def func1():
    strdata = '지역변수 / local variable'
    print(strdata)

def func2(param):
    param = 1
    print(param)

def func3():
    global param
    param = 50

In [11]:
func1()
print(strdata)
print(param)

func2(param)
print(param)

func3()
print(param)

지역변수 / local variable
전역변수 / global variable
10
1
10
50

##  리스트
### 순차적인 정수 리스트 - (in order(consecutive) integer list)

In [14]:
range1 = range(10)
range2 = range(10,20)
print(list(range1))
print(list(range2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

###  리스트에서 특정 위치 요소 얻기

In [38]:
listdata = [1,2,'a','b','c',[4,5,6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5]
val4 = listdata[5][1]
print(val1)
print(val2)
print(val3)
print(val4)

2
b
[4, 5, 6]
5

###  특정요소의 위치 구하기(index****) 중요단어* position

In [29]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성','지구']
planet = '지구'
pos = solarsys.index(planet)
print('%s은(는) 태양게에서 %d번째에 위치하고 있습니다.' %(planet, pos))
pos = solarsys.index(planet, 5)
print('%s은(는) 태양게에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양게에서 3번째에 위치하고 있습니다.
지구은(는) 태양게에서 9번째에 위치하고 있습니다.

##  특정위치 요소 변경

In [43]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
planet = '화성'
pos = solarsys.index(planet)
print(pos)
solarsys[pos] = 'Mars'
print(solarsys)

4
['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

### 특정 구간의 요소 추출

In [47]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성: ', end=''); print(rock_planets)
print('태양계의 사스형 행성: ', end=''); print(gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 사스형 행성: ['화성', '목성', '토성', '천왕성', '해왕성']

###  짝수 번째 요소만 추출

In [54]:
listdata = list(range(1, 21))
print(listdata)
print(listdata[1::2]) # 짝수만 추출

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###  요소 추가(append) *** 딥러닝에 충요

In [56]:
listdata = []
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요.[%d/3]: ' %(i+1))
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요.[1/3]: 안
['안']
리스트에 추가할 값을 입력하세요.[2/3]: 녕
['안', '녕']
리스트에 추가할 값을 입력하세요.[3/3]: 하
['안', '녕', '하']

### 특정위치 요소 삽입(insert)

In [57]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
pos = solarsys.index('목성')
print(pos)
solarsys.insert(pos,'소행성')
print(solarsys)

5
['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

###  특정위치 요소 제거(delete)

In [62]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

###  특정 요소 제거(remove)

In [64]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']

solarsys.remove('수성')
print(solarsys)

['태양', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

### 특정 구간 요소 제거

In [66]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[1:6]
print(solarsys)

['태양', '토성', '천왕성', '해왕성']

### 리스트 제거

In [67]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys
print(solarsys)

NameError: name 'solarsys' is not defined

###  정렬 sort

In [69]:
# 정렬 1
namelist = ['Mary','Sam', 'Amy', 'Tom','Michael','Bob','Kelly']
namelist.sort()  #alphabetical order
print(namelist)

['Amy', 'Bob', 'Kelly', 'Mary', 'Michael', 'Sam', 'Tom']

In [72]:
# 정렬 2
namelist = ['Mary','Sam', 'Amy', 'Tom','Michael','Bob','Kelly']
print(sorted(namelist)) # alphabetical order too
print(sorted(namelist, reverse=True))

['Amy', 'Bob', 'Kelly', 'Mary', 'Michael', 'Sam', 'Tom']
['Tom', 'Sam', 'Michael', 'Mary', 'Kelly', 'Bob', 'Amy']

In [74]:
# 섞기 shuffle
from random import shuffle

listdata = list(range(1,11))
print(listdata)
for i in range(3):
    shuffle(listdata)
    print(listdata)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 9, 10, 2, 1, 8, 5, 6, 3, 4]
[1, 9, 7, 2, 4, 3, 5, 6, 8, 10]
[7, 5, 2, 8, 4, 6, 10, 9, 1, 3]

###  인뎃스와 싸으로 추출하기(enumerate)

In [78]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
print(list(enumerate(solarsys)))

for i, body in enumerate(solarsys):
    print('태양계의 %d번째 천체: %s' %(i,body ))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

### 합구하기

In [79]:
listdata = [1,2,3,4,5,6,7,8,9,10]
print(sum(listdata))

55