In [1]:
# flight, songs, breast_cancer
# 데이터 프레임의 이해
# series
# 메서드체인
# 열과행다루기

## Flight

## 데이터 프레임의 이해

In [2]:
import pandas as pd

In [5]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [8]:
index = flights.index
index

RangeIndex(start=0, stop=58492, step=1)

In [9]:
columns = flights.columns
columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [14]:
data = flights.values
type(data)

numpy.ndarray

In [11]:
index.values

array([    0,     1,     2, ..., 58489, 58490, 58491], dtype=int64)

In [12]:
columns.values

array(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR',
       'ARR_DELAY', 'DIVERTED', 'CANCELLED'], dtype=object)

In [15]:
flights.dtypes

MONTH          int64
DAY            int64
WEEKDAY        int64
AIRLINE       object
ORG_AIR       object
DEST_AIR      object
SCHED_DEP      int64
DEP_DELAY    float64
AIR_TIME     float64
DIST           int64
SCHED_ARR      int64
ARR_DELAY    float64
DIVERTED       int64
CANCELLED      int64
dtype: object

In [16]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

## series

In [17]:
flights['AIRLINE']

0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object

In [18]:
airline = flights['AIRLINE']
airline.head()

0    WN
1    UA
2    MQ
3    AA
4    WN
Name: AIRLINE, dtype: object

In [19]:
airline.value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [21]:
# normalize=True 모든 값을 값의 합으로 나누어 상대 빈도를 반환
airline.value_counts(normalize=True)

DL    0.181238
AA    0.152158
WN    0.143917
UA    0.133215
OO    0.112631
EV    0.100150
MQ    0.059341
US    0.027611
NK    0.025918
F9    0.022516
VX    0.016977
AS    0.013130
B6    0.009283
HA    0.001915
Name: AIRLINE, dtype: float64

In [22]:
airline.size

58492

In [23]:
airline.shape

(58492,)

In [24]:
len(airline)

58492

In [25]:
airline.count()

58492

In [26]:
score

NameError: name 'score' is not defined

In [27]:
airline.describe()

count     58492
unique       14
top          DL
freq      10601
Name: AIRLINE, dtype: object

In [28]:
departure = flights['SCHED_DEP']
departure.head()

0    1625
1     823
2    1305
3    1555
4    1720
Name: SCHED_DEP, dtype: int64

In [29]:
departure.describe()

count    58492.000000
mean      1387.984836
std        482.810792
min          5.000000
25%       1000.000000
50%       1353.000000
75%       1805.000000
max       2359.000000
Name: SCHED_DEP, dtype: float64

In [33]:
departure.quantile(0.5)

1353.0

In [36]:
departure.isnull().sum()

0

In [37]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [38]:
airline.value_counts().head()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
Name: AIRLINE, dtype: int64

In [39]:
flights.SCHED_DEP.head()

0    1625
1     823
2    1305
3    1555
4    1720
Name: SCHED_DEP, dtype: int64

In [41]:
flights.AIRLINE.head()

0    WN
1    UA
2    MQ
3    AA
4    WN
Name: AIRLINE, dtype: object

In [42]:
airline2 = flights.set_index('AIRLINE')
airline2

,MONTH,DAY,WEEKDAY,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,,,
WN,1,1,4,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
UA,1,1,4,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
MQ,1,1,4,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
AA,1,1,4,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
WN,1,1,4,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
AA,12,31,4,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
F9,12,31,4,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
OO,12,31,4,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
WN,12,31,4,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
OO,12,31,4,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [44]:
airline2 = pd.read_csv('data/flights.csv', index_col ='AIRLINE')
airline2.head()

,MONTH,DAY,WEEKDAY,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,,,
WN,1,1,4,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
UA,1,1,4,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
MQ,1,1,4,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
AA,1,1,4,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
WN,1,1,4,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [45]:
airline2 = airline2.reset_index()
airline2

,AIRLINE,MONTH,DAY,WEEKDAY,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,WN,1,1,4,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,UA,1,1,4,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,MQ,1,1,4,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,AA,1,1,4,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,WN,1,1,4,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,AA,12,31,4,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,F9,12,31,4,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,OO,12,31,4,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,WN,12,31,4,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,OO,12,31,4,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [47]:
flights_rename = flights.rename(index={0:'Southwest Airlines Co.'}, columns={'SCHED_DEP' : 'TIME', 'DEP_DELAY':'DELAY'})
flights_rename

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,TIME,DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
Southwest Airlines Co.,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [48]:
# 컬럼을 리스트로 생성
# 리스트로 만들면 활용하기가 간편하다
col = flights.columns
col_list = col.tolist() # - column to list
col_list

['MONTH',
 'DAY',
 'WEEKDAY',
 'AIRLINE',
 'ORG_AIR',
 'DEST_AIR',
 'SCHED_DEP',
 'DEP_DELAY',
 'AIR_TIME',
 'DIST',
 'SCHED_ARR',
 'ARR_DELAY',
 'DIVERTED',
 'CANCELLED']

In [55]:
col_list[4]='FROM'
col_list[5]='TO'
col_list[6]= 'DEPARTURE'
col_list[7]= 'DELAY'
col_list[10]= 'Arrival'
col_list[11]= 'Arrival DELAY'
col_list

['MONTH',
 'DAY',
 'WEEKDAY',
 'AIRLINE',
 'FROM',
 'TO',
 'DEPARTURE',
 'DELAY',
 'AIR_TIME',
 'DIST',
 'Arrival',
 'Arrival DELAY',
 'DIVERTED',
 'CANCELLED']

In [56]:
flights.columns = col_list
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,FROM,TO,DEPARTURE,DELAY,AIR_TIME,DIST,Arrival,Arrival DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [59]:
# 컬럼위치
avg_index = flights.columns.get_loc('Arrival') + 1
avg_index

11

In [60]:
flights.columns.get_loc('Arrival')

10

In [64]:
flights.insert(loc=avg_index, column='Time_Taken', value=flights['Arrival']-flights['DEPARTURE'])
flights

,MONTH,DAY,WEEKDAY,AIRLINE,FROM,TO,DEPARTURE,DELAY,AIR_TIME,DIST,Arrival,Time_Taken,Arrival DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,280,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,510,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,148,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,380,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,505,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,530,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,140,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,110,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,330,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,287,-1.0,0,0

# songs

##  데이터 프레임

In [66]:
import pandas as pd

In [67]:
songs = pd.read_csv('data/songs.csv')
songs.head()

   song_id  length  genre  artist  composer  lyricist  language          isrc
0     5981  273554    465     330      1787      1533         3  TWC950206108
1     5767  228623    465     633       484      1057         3  TWA531398021
2     8128  257602    458     777      1916      2115         3  TWAY31508002
3     1992  199157    458     548      1011      1904         3  TWA471596001
4     2665  246015    465     671      1407      1362         3  TWK231306302

In [68]:
index = songs.index
index

RangeIndex(start=0, stop=4878, step=1)

In [69]:
columns = songs.columns
columns

Index(['song_id', 'length', 'genre', 'artist', 'composer', 'lyricist',
       'language', 'isrc'],
      dtype='object')

In [70]:
index.values

array([   0,    1,    2, ..., 4875, 4876, 4877], dtype=int64)

In [71]:
columns.values

array(['song_id', 'length', 'genre', 'artist', 'composer', 'lyricist',
       'language', 'isrc'], dtype=object)

In [72]:
songs.dtypes

song_id      int64
length       int64
genre        int64
artist       int64
composer     int64
lyricist     int64
language     int64
isrc        object
dtype: object

In [73]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4878 entries, 0 to 4877
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   song_id   4878 non-null   int64
 1   length    4878 non-null   int64
 2   genre     4878 non-null   int64
 3   artist    4878 non-null   int64
 4   composer  4878 non-null   int64
 5   lyricist  4878 non-null   int64
 6   language  4878 non-null   int64
 7   isrc      4878 non-null   object
dtypes: int64(7), object(1)
memory usage: 305.0+ KB

## Series

In [74]:
songs['artist']

0       330
1       633
2       777
3       548
4       671
       ...
4873    253
4874    330
4875    363
4876    518
4877     14
Name: artist, Length: 4878, dtype: int64

In [84]:
artist = songs['artist']
artist.head()

0    330
1    633
2    777
3    548
4    671
Name: artist, dtype: int64

In [85]:
artist.value_counts()

446    192
499    175
391    152
633     99
421     82
      ...
230      1
226      1
222      1
214      1
941      1
Name: artist, Length: 943, dtype: int64

In [86]:
artist.value_counts(normalize=True)

446    0.039360
499    0.035875
391    0.031160
633    0.020295
421    0.016810
         ...
230    0.000205
226    0.000205
222    0.000205
214    0.000205
941    0.000205
Name: artist, Length: 943, dtype: float64

In [87]:
artist.size

4878

In [88]:
artist.shape

(4878,)

In [89]:
len(artist)

4878

In [90]:
artist.count()

4878

In [91]:
genre = songs['genre']
genre.head()

0    465
1    465
2    458
3    458
4    465
Name: genre, dtype: int64

In [92]:
genre.describe()

count    4878.000000
mean      555.292538
std       317.414900
min       139.000000
25%       458.000000
50%       465.000000
75%       465.000000
max      2157.000000
Name: genre, dtype: float64